body{
	text-align: center;
	margin: 5px auto;
}
#users_div{
	height: 150px;
	margin: auto;
	display: inline-block;
}
.userInfo{
	float:left;
	width:120px;
	height: 150px;
	border-radius: 8px; 
}
img{
	display:block; 
	margin: auto; 
	padding: 8px;
}
h5{
	font: 24px Verdana;
}
#progressbarg{
  width:900px;
  padding:1px;
  background-color:white;
  border:1px solid black;
  height:28px;
  margin: 10px auto 10px auto;
  text-align: center;
  border-radius: 5px;
}
.indicatorg{
  width:0px;
  background-color:green;
  height:28px;
  margin:0;
  float:left;
}
#chart_div{
	width: 900px;
	height: 500px;
	margin: auto;
}
.progressbar{
  width:100px;
  padding:1px;
  background-color:white;
  border:1px solid black;
  height:25px;
  margin: auto;
  text-align: center;
  color: black;
  border-radius: 5px;
}
.indicator{
  width:0px;
  height:25px;
  margin:0;
  border-radius: 5px;
  color: black;
  font: 14px Arial;
}
#gameover{
	color: white;
	font: 18px Arial;
 	text-align: center;
}
#daysleft{
  position:absolute;
  width:200px;
  height:100px;
  left:0;
  top:650px;
  text-align:center;
  padding: 0 10px;
  font: 18px Verdana;
  line-height:100px;
  background-color: gold;
  color: white;
}
#outer{
  display: table;
  width: 100%;
  overflow: hidden;
}
#endOfGame{
  position:absolute;
  width:600px;
  height:300px;
  left:200px;
  top:225px;
  text-align:center;
  padding: 0 10px;
  font: 18px Verdana;
  background-color: dimgrey;
  color: white;
  overflow: hidden;
}